.Banner {
  background-image: url("~/assets/images/banner.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 950px;
}
